name: Build Docker without cache
on:
  push: {}
  workflow_dispatch: {}
  
permissions:
  id-token: write

jobs:
  build:
    name: Build Docker
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          submodules: recursive
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          context: ./baserepo
